* {
    box-sizing: border-box;
}

body {
    background-color: pink;
}

.header {
    background-color: plum;
    padding: 3em;
    text-align: center;
    font-family: cursive;
    font-size: larger;
    color: rosybrown;
}

nav {
    display: flex;
    overflow: hidden;
    background-color: salmon;
}

ul {
    display: flex;
    margin-left: auto;
}

nav li {
    margin-right: 3em;
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

a:hover {
    color: tomato;
}

fieldset {
    margin: 2em;
    padding: 2em;
    font-family: sans-serif;
}

.grid-container {
    display: flex;
}

.B {
    margin-top: 2em;
    margin-right: 3em;
}

.text {
    margin-right: 5em;
}

p {
    display: block;
    text-align: justify;
}

.article {
    margin-top: 3em;
}

.c {
   display: flex;
   margin-top: 3em; 
}

audio {
    margin-left: 5em;
}

.container {
    margin-left: 5em;
}

.container-atas {
    display: flex;
}

.container-bawah {
    display: flex;
}